#button{
    background-color: #f2d449;
    color:#fff;
    width:100px;
    height: 35px;
    Border-radius:5px; }
Input {border-color: #333;}
input text {font-size:1.2em;}
#year {color:blueviolet;font-size: 1.2em;font-weight: bold;text-align: center;}
